
.battery{
  width:200px;         
  height:70px;               
  border:5px solid #000;    
  box-sizing:border-box;   
  margin:12px 0;            
  background:#fff;          
  position:relative;        
}

.battery::after{
  content:"";
  position:absolute;
  right:-12px;                
  top:50%;
  transform:translateY(-50%);
  width:10px;
  height:25px;
  background:#000;      
}

.bat-35{
  background:linear-gradient(to right,#e31b23 35%,#fff 0);
}
.bat-65{
  background:linear-gradient(to right,#ffc500 65%,#fff 0);
}
.bat-100{
  background:#009e4d;         
}
